<h1>Log in</h1>

<%= form_tag(log_in_path, {:class => "form-horizontal budget" }) do %>

<div class="form-group">
    <%= label_tag(:email, nil, {:class => 'col-sm-2 control-label'}) %>
    <div class="col-sm-3">
        <%= text_field_tag(:email, nil, {:class => 'form-control'}) %>
    </div>
</div>
<div class="form-group">
    <%= label_tag(:password, nil, {:class => 'col-sm-2 control-label'}) %>
    <div class="col-sm-3">
        <%= password_field_tag(:password, nil, {:class => 'form-control'}) %>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
        <%= submit_tag("Log in", {:class => 'btn btn-primary'}) %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        root_path, class: 'btn btn-default' %>
    </div>
</div>

<% end %>
