<%- model_class = Budget -%>

<tr>
    <td><%= budget.date_of_budget.strftime("%d.%m.%Y") %></td>
    <td class="
    <%=
    if budget.is_expense
        "text-danger text-right"
    else
        "text-success text-right"
    end %>
    "><%= number_with_precision( budget.amount, precision: 2, separator: '.', delimiter: '\'') %></td>
    <td><%= link_to budget.name, budget_path(budget) %></td>
    <td><%= budget.description %></td>
    <td><%=
    if budget.category_id.nil?
        "-"
    else
        budget.category.name
    end
    %></td>
    <td>
        <%= link_to glyph(:edit, {:tag => :span}),
        edit_budget_path(budget),
        :class => 'btn btn-xs btn-primary', remote: true %>
        <%= link_to glyph(:trash, {:tag => :span}),
        budget,
        :remote => true,
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-xs btn-danger' %>
    </td>
</tr>
