<%= form_for @budget, :html => { :class => "form-horizontal budget" } do |f| %>

    <% if @budget.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :is_expense, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_expense, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:is_expense]) %>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select") %>
    </div>
    <%= error_span(@budget[:category_id]) %>
  </div>

  <!-- TODO: retrieve the user_id when user is logged !-->
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:user_id, @users, :id, :uname, :include_blank => "Please select") %>
    </div>
    <%= error_span(@budget[:user_id]) %>
  </div>
  <div class="control-group">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
          <%= f.text_field :amount, :class => 'form-control' %>
      </div>
      <%= error_span(@budget[:amount]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            budgets_path, :class => 'btn btn-default' %>

<% end %>
