<%= form_for @budget, remote: true, :html => { :class => "form-horizontal budget" } do |f| %>

<script>
$(function() {
    $("#budget_date_of_budget").datepicker({dateFormat: "yy-mm-dd"});
});
</script>

<% if @budget.errors.any? %>
<div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h3>
    </div>
    <div class="panel-body">
        <ul>
            <% @budget.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>

<div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:name]) %>
</div>
<div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:description]) %>
</div>
<div class="form-group">
    <%= f.label :is_expense, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.check_box :is_expense, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:is_expense]) %>
</div>
<div class="form-group">
    <%= f.label :category_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select") %>
    </div>
    <%= error_span(@budget[:category_id]) %>
</div>

<div class="form-group">
    <%= f.label :amount, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:amount]) %>
</div>

<div class="form-group">
    <%= f.label "Date", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.date_field :date_of_budget, :class => 'form-control' %>
    </div>
    <%= error_span(@budget[:date_of_budget]) %>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    budgets_path, :class => 'btn btn-default', :id => 'cancel' %>
    </div>
</div>

<% end %>
