
<%- model_class = Budget -%>

<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_budget_path, remote: true, :class => 'btn btn-primary' %>
</div>

<div id="budget-form" style="display:none;"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th><%= model_class.human_attribute_name(:amount) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:category_id) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody id="budgets">
        <%= render @budgets %>
    </tbody>
</table>

<% if @budgets.count == 0 %>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert fade in alert-info">No data available. Add your expenses now.</div>
    </div>
</div>
<% else %>
<%= pie_chart current_user.budgets.joins(:category).where('extract(month from date_of_budget) = ?', 12).group(:is_expense).sum(:amount), library: { pieSliceText: 'value' } %>
<%= column_chart current_user.budgets.joins(:category).where('is_expense = true AND extract(month from date_of_budget) = ?', 12).group("is_expense, categories.name").sum(:amount) %>
<%= column_chart current_user.budgets.where('is_expense = true').group_by_month(:date_of_budget).sum(:amount) %>
<%= column_chart current_user.budgets.group(:is_expense).group_by_month(:date_of_budget).sum(:amount) %>
<%= column_chart current_user.budgets.where('is_expense = true').group(:date_of_budget).sum(:amount) %>

<%= bar_chart Budget.where('extract(month from date_of_budget) = ?', 12).group(:is_expense).sum(:amount) %>

<% end %>
