<%- model_class = Budget -%>

<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_budget_path, remote: true, :class => 'btn btn-primary' %>
</div>

<div id="budget-form" style="display:none;"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th><%= model_class.human_attribute_name(:amount) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:category_id) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody id="budgets">
        <%= render @budgets %>
    </tbody>
</table>

<% if @budgets.count == 0 %>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert fade in alert-info">No data available. Add your expenses and savings now.</div>
    </div>
</div>

<% else %>

<div class="row"><p></p></div>
<div class="row">
    <div class="col-lg-12">
        <div class="btn-group" role="group" aria-label="Chart Type">
            <%= link_to "Month details", "/load/4", remote: true, :class => 'chart_type btn btn-default', data: { cid: "4" } %>
            <%= link_to "By year", "/load/3", remote: true, :class => 'chart_type btn btn-default', data: { cid: "3" } %>
            <%= link_to "By month", "/load/1", remote: true, :class => 'chart_type btn btn-default', data: { cid: "1" } %>
            <%= link_to "By day", "/load/2", remote: true, :class => 'chart_type btn btn-default', data: { cid: "2" } %>
        </div>
    </div>
</div>
<p>
    <div id="chart"><%= render 'chart', custom_chart: 4 %></div>
</p>



<% end %>
