<% #when creating an account, the form should not use remote:true %>
<%= form_for @user, remote: !current_user.nil?, :html => { :class => "form-horizontal user" } do |f| %>

<% if @user.errors.any? %>
<div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    </div>
    <div class="panel-body">
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>

<div class="form-group">
    <%= f.label :username, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.text_field :username, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:username]) %>
</div>
<div class="form-group">
    <%= f.label :email, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:email]) %>
</div>
<div class="form-group">
    <%= f.label :password, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.password_field :password, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:password]) %>
</div>
<div class="form-group">
    <%= f.label :password_confirmation, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:password_confirmation]) %>
</div>
<% if logged_in? and admin? %>
<div class="form-group">
    <%= f.label :is_active, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.check_box :is_active, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:is_active]) %>
</div>
<div class="form-group">
    <%= f.label :is_admin, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3">
        <%= f.check_box :is_admin, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:is_admin]) %>
</div>
<% end %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
        <%= f.submit "Create", :class => 'btn btn-primary' %>
        <% if logged_in? and admin? %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-default', :id => 'cancel' %>
        <% elsif logged_in? and admin? == false %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path(@user), :class => 'btn btn-default', :id => 'cancel' %>
        <% else %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            root_path, :class => 'btn btn-default', :id => 'cancel' %>
        <% end %>
    </div>
</div>
<% end %>
