<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Uname</th>
      <th>Email</th>
      <th>Passw</th>
      <th>Is active</th>
      <th>Is blocked</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.uname %></td>
        <td><%= user.email %></td>
        <td><%= user.passw %></td>
        <td><%= user.is_active %></td>
        <td><%= user.is_blocked %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
