<p id="notice"><%= notice %></p>

<p>
  <strong>Uname:</strong>
  <%= @user.uname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Passw:</strong>
  <%= @user.passw %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @user.is_active %>
</p>

<p>
  <strong>Is blocked:</strong>
  <%= @user.is_blocked %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
